* {
  font-family: sans-serif;
}

.box {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px #565656;
  background: #fff;
  transition: background-color 0.3s ease;
}

.box:hover {
  cursor: pointer;
  background: #d4d4d4;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  text-align: center;
  font-size: 40px;
}

.box_details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
