.counter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.counter button {
  height: 30px;
  width: 30px;
  margin: 20px 20px;
  border-radius: 10px;
}
.counter_co {
  display: flex;
  align-items: center;
}

.counter_text > p {
  font-size: 30px;
  font-family: sans-serif;
}

.todo_whole {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo li {
  list-style: none;
}

.todo {
  justify-content: center;
  align-items: center;
  text-align: center;
}
