.counter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.counter button {
  height: 30px;
  width: 30px;
  margin: 20px 20px;
  border-radius: 10px;
}

.todo_whole {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo li {
  list-style: none;
}
