.card {
  width: auto;
  border: 2px solid black;
  padding: 50px;
  margin: 50px 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card_sep {
  min-height: 120px;
  width: 250px;
  border: 2px solid black;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 20px 20px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
